html, body {
    margin: 0;
    height: 100vh;
    padding: 0;
    width: 100%;
    background: black;
    user-select: none;
    
}
body {
    display: flex;
    flex-direction: column;
}

header {
    /* height: 10%; */
    height: 100px;
    width: 100%;
    display: flex;
    gap:10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    img {
        height: 70%;
    }
}

.status {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.progress_bar {
    height: 20px;
    width: 30vw;
    overflow: hidden;
    background: #24261B;
    border-radius: 50px;
    position: relative;
    color: white;
   justify-content: center;
   align-items: center;
   font-family:Roboto;
   font-weight: 900;
    display: flex;
    z-index: 3;
}
.progress_bar::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: var(--width, 1%);
    height: 100%;
    top:0;
    left: 0;
    background-color: #CBEF26;
    ;
}

.rang {
    padding: 0 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#num {
    float: right;
}



.game {
    height: 100%;
    width: 100%;
    /* background-color: #CBEF26; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    padding-bottom:50px;
}


.game2 {
    width: 100%;
    height: 98%;
    position:absolute;
    bottom:0;
    text-align: center;
    justify-items: center;
    align-items: center;
    background-color: #24261B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -20px 0px 0px #CBEF26;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}



.menu_bar {
    height: 50px;
    img {
        height: 100%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.score{
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    user-select: none;
}


.circle {
    width: 100vw;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}
.image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.2s ease;
    z-index: 30;
    --tiltX: 0deg;
    --tiltY: 0deg;
    transform-style: preserve-3d;
    background: url(assets/coin.png) 0 0;
    background-position: center;
    background-size: 130% 130%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    transform: perspective(500px) rotateX(var(--tiltX)) rotateY(var(--tiltY));
}
.plusOne {
        position: absolute;
        z-index: 100;
        font-family: Inter;
        text-shadow: 0px 0px 4px rgba(234, 182, 64,0.25);
        font-size: 24px;
        opacity: 1;
        font-weight: bold;
        background: linear-gradient(180deg, #e8c547 0%, #ef882b 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        pointer-events: none;
        user-select: none;
        animation: move-up 1s ease-out forwards ;
}

@keyframes move-up {
        0% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(-70px);
        }
}

.energy {
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: center;
}

.bg_energy {
    width: 70%;
    height: 100%;
    background: #C8B57C;
    border-radius: 50px;
}

.pr_bar_energy {
    border-radius: 30px;
    background: #CBEF26;
    width: 50%;
    height: 100%;
}

.txt_energy {
    margin-top: 15px;
    color: white;
    font-size: 20px;
}
